NUXT_CMS_BASE_URL=http://localhost:8787
NUXT_MEDIA_BASE_URL=http://localhost:8787
NUXT_IMAGE_DOMAINS="localhost:8787"
NUXT_PUBLIC_GTAG_ID=

# resend setup
NUXT_PUBLIC_RESEND_API_KEY=
NUXT_CONTACT_TO_ADDRESS=
NUXT_CONTACT_FROM_ADDRESS=

NUXT_PUBLIC_TURNSTILE_SITE_KEY=
NUXT_TURNSTILE_SECRET_KEY=